<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>
            {% block title %}
                {% if request.session.user_id %}
                    易游 - {{ request.session.user_name }}
                {% else %}
                    易游
                {% endif %}
            {% endblock %}
        </title>

    <link rel="stylesheet" href="/static/plugin/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/layout/_layout.css">

    {% block styles %}<!-- custom styles -->{% endblock %}
</head>
<body>
    <div class="header">
        <div class="navbar-c">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">主页</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/roast/index">三言两语 <span class="sr-only">(current)</span></a></li>
{#                            <li><a href="#">文章</a> </li>#}
{#                            <li><a href="#">相册</a></li>#}
                        </ul>
{#                        <form class="navbar-form navbar-left">#}
{#                            <div class="form-group">#}
{#                                <input type="text" class="form-control" placeholder="Keyword">#}
{#                            </div>#}
{#                            <button type="submit" class="btn btn-default">Search</button>#}
{#                        </form>#}
                        <ul class="nav navbar-nav navbar-right">
                            {% if request.session.user_id %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.session.user_name }} <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">个人资料</a></li>
                                        <li><a href="#">账号设置</a></li>
                                        <li><a href="#">隐私设置</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="/logout">退出</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li><a class="register" href="javascript:;" data-toggle="modal" data-target="#register-modal">注册</a></li>
                                <li><a class="login" href="javascript:;" data-toggle="modal" data-target="#login-modal">登录</a></li>
                            {% endif %}

                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </div>

    <div class="content">
        {% block content %}
            <!-- custom body -->
            <div>出现异常，进入首页</div>
        {% endblock %}
    </div>

    <div id="register-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>欢迎注册</h4>
                </div>
                <div class="modal-body">
                    <form action="/register" method="post">
                        {% csrf_token %}
                        <div class="form-group"><input name="email" class="email form-control" placeholder="Email Address" type="email"/></div>
                        <div class="form-group"><input name="password" class="password form-control" placeholder="Password" type="password"/></div>
                        <div class="form-group"><input name="rePassword" class="re-password form-control" placeholder="Confirm Password" type="password"/></div>
                        <div class="form-group"><button type="submit" class="btn btn-default">注册</button></div>
                    </form>
                </div>
            </div>
        </div>
   </div>

    <div id="login-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>欢迎登录</h4>
                </div>
                <div class="modal-body">
                    <form action="/login" method="post">
                        {% csrf_token %}
                        <div class="form-group"><input name="email" class="email form-control" placeholder="Email Address" type="email"/></div>
                        <div class="form-group"><input name="password" class="password form-control" placeholder="Password" type="password"/></div>
                        <div class="form-group"><button type="submit" class="btn btn-default">登录</button></div>
                    </form>
                </div>
            </div>
        </div>
   </div>
</body>

<script type="text/javascript" src="/static/plugin/jquery/jquery-3.2.1.js"></script>
<script type="text/javascript" src="/static/plugin/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/js/base.js"></script>
<script type="text/javascript" src="/static/js/layout/_layout.js"></script>

{% block scripts %}<!-- custom scripts -->{% endblock %}

</html>