<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
        {% block title %}
            {% if request.session.user_id %}
                易游 - {{ request.session.user_name }}
            {% else %}
                易游
            {% endif %}
        {% endblock %}
    </title>
    <meta name="description" content="我是超人博客">
    <meta name="keywords" content="超人,博客,学习,软件编程">
{#    <meta http-equiv="mobile-agent" content="format=html5; url=http://m.douban.com/movie/review/9355218//">#}

    <link rel="stylesheet" href="/static/plugin/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/layout/_layout.css">

    {% block styles %}<!-- custom styles -->{% endblock %}

</head>
<body>
    <div class="header">
        <div class="navbar-c">
            <nav class="navbar-l">
                <ul>
                    <li><a href="/">主页</a></li>
                    {% if request.session.user_id %}
                        <li><a href="/roast/index">三言两语</a></li>
                        <li><a href="/article/index">长话长说</a></li>
                    {% endif %}
                </ul>
            </nav>
            <nav class="navbar-r">
                <ul class="first-level">
                    {% if request.session.user_id %}
                        <li class="dropdown first-level">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.session.user_name }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">个人资料</a></li>
                                <li><a href="#">账号设置</a></li>
                                <li><a href="#">隐私设置</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/auth/user/logout">退出</a></li>
                            </ul>
                        </li>
                    {% else %}
{#                        <li class="first-level"><a class="register" href="/register">注册</a></li>#}
{#                        <li class="first-level"><a class="login" href="/login">登录</a></li>#}
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

    <div class="content">
        {% block content %}
            <!-- custom body -->
            <div>出现异常，进入首页</div>
        {% endblock %}
    </div>

    <script type="text/javascript" src="/static/plugin/jquery/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/static/plugin/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/base.js"></script>
    <script type="text/javascript" src="/static/js/layout/_layout.js"></script>

    {% block scripts %}<!-- custom scripts -->{% endblock %}

</body>
</html>