{% extends 'layout/_layout.html' %}

{% block content %}
    <form action="/auth/user/login" method="post">
        {% csrf_token %}
        <div class="form-group"><input name="email" class="email form-control" placeholder="Email Address" type="email"/></div>
        <div class="form-group"><input name="password" class="password form-control" placeholder="Password" type="password"/></div>
        <div class="form-group"><button type="submit" class="btn btn-default">登录</button></div>
    </form>
{% endblock %}