{% extends 'layout/_layout.html' %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/article/index.css">
{% endblock %}

{% block content %}
    <div class="brush">
        <a href="/article/publish"><span class="brush-img"></span></a>
    </div>

    <div class="articles">
        {% for article in articles %}
            {% autoescape off %}
                <div class="article">
                    <div class="title">{{ article.title }}</div>
                    <div class="body">{{ article.body }}</div>
                </div>
            {% endautoescape %}
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/js/article/index.js"></script>
{% endblock %}